<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="NuevaCons.css">
    <title>sion barbershop/title>
</head>
<body>
    <section>
        <div class="form-box">
            <div class="form-value">
                <form id="formulario" action="">
                    <div>
                        <h3>Nueva Contraseña</h3>
                    </div>
                    <div class="inputbox">
                        <p>Elige una contraseña segura y no la utilices en otras cuentas.</p>
                        <br>
                        <label for="password1">Contraseña</label>
                        <input type="text" id="password1">                       
                    </div>
                    <div class="inputbox">
                        <p>Seguridad de la contraseña:
Utiliza al menos 8 caracteres. No uses una contraseña de otro sitio ni un nombre demasiado obvio, como el de tu mascota.</p>
                        <br>
                        <br>
                        <label for="password2">Confirmar contraseña</label>
                        <input type="text" id="password2">                       
                    </div>
                    <button type="submit" class="btn btn-primary" id="botonCalcular">Enviar</button>
                </form>
            </div>
        </div>
    </section>
    <script src="NuevaCons.js"></script>
</body>
</html>