<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>CounTech</title>
</head>
<body>
    <section>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <form id="formulario" action="">
                        <div class="text-center">
                            <h2>sion barbershop</h2>
                            <h3>Recuperación de la cuenta</h3>
                        </div>
                        <div class="form-group">
                            <p>Introduce tu correo electrónico de tu cuenta de sionbarbershop</p>
                            <label for="email">Correo:</label>
                            <input type="text" class="form-control" id="email">
                        </div>
                        <button type="submit" class="btn btn-primary" id="botonCalcular"><a href="Codigo">Enviar</a></button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <script src="Recuperar.js"></script>
</body>
</html>